.lesson {
    color: blue;
    padding: 5px 15px;
    border: none;
    background-color: aqua;
    width: fit-content ;
    max-width: 30vw;
    cursor: pointer;
}
.deactive-lesson {
    color: red;
    cursor: progress;
}
.course{
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
}
video{
    width: 80%;
}
#not-supported{
    visibility: hidden;
}
#pip-button{
    visibility: hidden;
}
.video-container{
    width: 60%;
    text-align: center;
}
#lessons-list{
    width: 40%;
}
.lessons-count{
    width: 50%;
    text-align: left;
}
.rating{
    width: 50%;
    text-align: right;
}
.skills{
    width: 100%;
}
.item-title{
    width: 100%;
    text-align: center;
}
.item-video{
    width: 60%;
    vertical-align: middle;
}
.item-description{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

li {    
    width: fit-content ;
}

li p:hover {
    opacity: 0.8;
}

#lessons-list{

}

@media screen and (max-width: 400px) {

    .course{
        display: inline;
        flex-wrap: nowrap;
    }

    #lessons-list{
        width: 100%;
    }

    .video-container{
        width: 100%;
    }

    .lesson {
        width: fit-content ;
        max-width: 90%;
    }

}